
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    font-family:"Barlow",sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.7),rgba(4, 4, 73, 0.61)),url(/img/Asset\ 5-100.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}
h6{
    font-weight: 700 !important;
}
.intro{
    margin-bottom: 35px;
}
.intro h6{
    color:white;
    font-size:20px;
}
.intro p{
    max-width: 100%;
    margin:auto;
    padding: 10px;
    font-size: 16px;
    font-weight:500px;
    justify-content: center;
    color:rgba(255, 255, 255, 0.973);
}
    .intro h5{
    margin-top: 45px;
    padding-top:10px;
    font-weight: bold;
    color: white;
}
small{
    color: white;
}
a{
    color: #092032;
    text-decoration: none;
    transition: all 0.4s ease;
    font-weight: 500;
}
header{
    position: sticky;
    top: 0px;
}
.Logo{
    width:90px; height:70px;
}

img{
    width: 100%;
}
section{
    padding-top: 80px;
    padding-bottom: 80px;
}
.bg-cover{
    background-position: center !important;
    background-size: cover !important;
}
.navbar .navbar-nav .nav-link{
    font-size:18px;
    font-weight: 500;
}
.navbar .navbar-nav .nav-link:hover, 
.navbar .navbar-nav .nav-link.active{
color:rgb(240, 22, 22);
}
.navbar{
    margin-top: 40px;
    background-color:whitesmoke;
}

/*HOME START*/

.slide1{
    background:url(/img/Slide1.png);
    opacity: 0.7;
}
.slide2{
    background-image:url(/img/Slide2.jpg);
    opacity: 0.7,
}
.slide3{
    background-image:url(/img/Slide3.png);
    opacity: 0.7;
}
/*Owl Carousel*/
.owl-prev,
.owl-next{
    position: absolute;
    top: 50%;
    width: 50px !important;
    height: 50px !important;
    display: grid;
    place-items: center;
    background-color:gray !important;
    margin-top: -30px !important;
    color: black!important;
    font-weight: 800 !important;
    font-size: 12px !important;
    border-radius: 90px !important;
}
.owl-prev{
    left:0;
}
.owl-next{
    right:0;
}
.owl-next:hover,
.owl-prev:hover{
    background-color: #ff4d29 !important;
}
/*INFRASTRUCTURE*/
#Infrastructure p{
 color: white;
}
.border h5{
    margin-top: 2px;
    color: white;
}
.anchor-hover a{
    text-decoration: none;
    color:white;
    font-weight: bold;
}
.anchor-hover:hover a,
.anchor-hover:hover a i{
    color:orangered;
    font-weight: bold;
}
.icon{
    padding: 2px;
    color:white;
    font-weight: bold;
    border-radius: none;
    margin-right: 10px;
}
.factory{
    margin-top: 15px;
    margin-bottom: 100px;
}
.factory h5{
 padding: 50px;
}
/*HOME END*/

/*ABOUT START*/

.about{
    width:100%;
    height: 100px;
    text-align: center;
    padding-top:25px;
}
.Client{
    text-align: center;
}
.client-img{
    margin-top:30px;
    padding:50px;
    justify-content: center;
    max-width:100%;   
}
.Client img{
    width: unset;
    justify-content: center;
    }

.A-container{
    margin: 30px;
}
/*ABOUT END*/

/*PROFILE START*/
.profile{
    width:100%;
    height: 100px;
    text-align: center;
    padding-top:25px;
    
}
.Infra{
    max-width: 1000px;
}
.Infra h2{
    color:white;
    font-weight:bold;
}
.Infra p{
    color:white;
    font-weight: 50px;
    text-align: justify;
}
.Infra-bg{
    padding: 25px;
}
.Infra .col-lg-6{
padding: 25px;
}
.prod-pro h2{
color:white;
text-align: center;
padding: 10px;
}
.prod-pro img{
    margin: 5px;
    padding: 5px;
}
 /*PROFILE END*/

/*PRODUCT START*/
.prod{
    width:100%;
    height: 100px;
    text-align: center;
    padding-top:25px;
}
.Prod-img{
    margin-top:50px;
    padding:50px;
    justify-content: center;
    max-width:100%;   
}
.Product{
    text-align: center;
}
.Product img{
width: unset;
justify-content: center;
margin: auto;
}
.Product img:hover{
    padding:auto;
    border: 1px solid black;
    transform: translateY(-5px);
    height: 250px;
    cursor: pointer; 
}
/*PRODUCT END*/

/*PRINTING & EMBROIDERY START*/
.P-E{
    margin-top:5px;
    padding:40px;
    padding:40px;
    justify-content: center;
    max-width:100%;   
}
.Embroid{
    text-align: center;
}
.print img{
    width: unset;
    justify-content: center;
    margin: auto;
    }
.print img:hover{
    padding:auto;
    border: 1px solid rgb(104, 104, 104);
    transform: translateY(-2px);
    height: 250px;
    cursor: pointer;   
}  
.print p{
    font-weight: bold;
    color:white;
    font-size: 13px;
    padding: 2px;
}
/*PRINTING & EMBROIDERY END*/
/*CONTACT PAGE*/
.cont{
    width:100%;
    height: 100px;
    text-align: center;
    padding-top:25px;
  
}
.Iframe-container{
    margin: 10px;
}
.map-body{
    margin-top: 50px;
    padding:25px;
    width: 100%;
    height: 600px;
}
.map-body iframe{
    width: 100%;
    height: 100%;
    margin: 0%;
}
/*CONTACT INFO */
.contact-container{
    max-width: 1200px;
    margin:auto;
}

.contact-icon {
    padding: 20px;
    color: white;
}
.icon1{
    padding-right: 8px;
    color:white;
}
.contact-box p{
    color: white;
}
.contact-container h2{
    color: white;
}
